html {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

.heading {
  width: 460px;
  height: 80px;
  margin: auto;
  position: relative;
}

.above-game {
  width: 500px;
  height: 50px;
  margin: auto;
}

.intro {
  float: left;
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  float: left;
}

.score {
  margin: 4px;
}

.scores-container {
  display: block;
  background: #bbada0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 80px;
  border-radius: 3px;
  float: right;
}

.score-container {
  margin: 6px;
}

.restart-button {
  display: block;
  float: right;
  background: #8f7a66;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.try-again {
  display: inline-block;
  background: #8f7a66;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  padding: 20px;
  text-decoration: none;
  color: #f9f6f2;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #ccc0b3;
  margin: 10px;
  float: left;
}

.value-cell {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: #eee4da;
  transition: all 0.2s;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #776e65;
  font-weight: bold;
  position: absolute;
}

.field {
  width: 480px;
  height: 480px;
  padding: 10px;
  margin: 20px auto;
  background-color: #bbada0;
  border-radius: 10px;
  position: relative;
}

.game-over {
  z-index: 1;
  width: 460px;
  height: 460px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  background: rgba(238, 228, 218, 0.6);
  position: absolute;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  visibility: hidden;
}

.win {
  z-index: 1;
  width: 460px;
  height: 460px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  background: rgba(238, 228, 218, 0.6);
  position: absolute;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  visibility: hidden;
}
